<br>
<div class="columns">
  <div class="column is-2">
    <%= render 'layouts/left_menu'%>
  </div>
  <div class="column">
    <div class="title">
      <h1>Themes</h1>
    </div>
    <div>
      <hr>
      <br>
       <ul style="font-size:17px">
      <% Theme.all.group_by(&:first).each do |frst, themes| %>
        <%= content_tag(:h2, frst)%>
        <% themes.each do |theme|%>
          <li><%= link_to "#{theme.name}", theme_path(theme)%></li>
        <% end %>
         <br>
      <% end %>
     </ul>
    </div>
  </div>
</div>

<% if admin? %>
  <div class="container" style="margin-left: 100px">
    <%= link_to 'New Theme', new_theme_path, class: "button is-danger is-normal is-rounded" %>
  </div>
<% end %>