<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">NEW THEME</h2>
      
        <%= render 'form', theme: @theme %>
        <br/>
        <%= link_to 'Back', themes_path, class: "button is-danger is-normal is-rounded" %>
    </div>
  </div>
</div>
