<br>
<div class="columns">
  <div class="column is-2">
    <%= render 'layouts/left_menu'%>
  </div>
  <div class="column">
    <div class="title">
      <h1>Publishers</h1>
    </div>
    <div>
      <hr>
      <br>
      <ul style="font-size:17px">
        <% Publisher.all.group_by(&:first).each do |frst, publishers| %>
          <%= content_tag(:h2, frst)%>
          <% publishers.each do |publisher|%>
            <li><%= link_to "#{publisher.name}", publisher_path(publisher)%></li>
          <% end %>
          <br>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if admin? %>
  <div class="container" style="margin-left: 100px">
  <%= link_to 'New Publisher', new_publisher_path, class: "button is-danger is-normal is-rounded" %>
  </div>
<% end %>