<div class="section">
  <div class="container">
    <div class="column is-two-thirds">
      <div class="column is-4">
        <h2 class="title is-2">New Book</h2>
      </div>

      <%= render 'form', book: @book %>
      
      <%= link_to 'Back', books_path, class: "button is-danger is-normal is-rounded" %>
    </div>
  </div>
</div>
